.container{
  background-color: #1B335D;
  height: 700px;
  width: 940px;
  }

 .box-1{
  height: 65px;
  width: 98%;
  background-color: red;
  display:inline-block;
  border-radius: 10px;
  margin: 10px 10px 0px 10px;
  display: inline-block;
  }

 .box-2{
  margin-top: auto;
  height: 70%;
  width: 76%;
  background-color: black;
  border-radius: 20px;
  margin: 10px 10px 10px 10px;
  float: right;
  display: inline-block;
  padding: 10px;
  }
 .box-3{
  margin-top: auto;
  background-color: #2A7D8C;
  height: 230px;
  width: 17%;
  border-radius: 13px;
  margin: 13px 10px 10px 10px;
padding:10px;
  }
 .box-4{
  width: 93.5%;
  height: 30px;
  background-color: #5D6673;
  margin: 280px 10px 10px 10px;
  border-radius: 13px;
  padding: 20px;

}
 }

.bob{
  width: 660px;
  margin:5px 5px 5px 5px;
  font-size: 5;
  color: #BCCCD9;
  background-color: blue;
}
p{color: #BCCCD9;
  height: 100px;
  width: 500px;font-size: 10px;
padding: 10px;
  margin: 10px 5px 10px 5px;
  display:inline;
  font-size: 11px;
text-align: inherit;
}

 h1{
   color: #BCCCD9;
   margin-left: auto;
   text-align: left;
   margin:10px 0px 3px 5px;
  }
  h2{
    color: #BCCCD9;s
    margin-left: auto;
    margin: 30px 10px 10px 20px;
  }
li{color:#BCCCD9;
inline-block;
}
.s{
  color: #BCCCD9;
}
.c{
  color: #BCCCD9;
}
.q{
  font-size: 18px;
}
.u{font-size: 14px;
}
.k{
font-size: 10px;
margin-left: 10px;
text-decoration-style:
}
#{
  display:inline;
  margin-left:auto;
  margin: 0px 0px 0px 0px;
}
.leo{
  color:#BCCCD9
}
